.slideView {
   margin: calc(8px*8) 
}

nav .link {
    color: white;
    position: fixed;
    background-color: transparent;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(8px*5);
}

nav .link:first-of-type {
    left:50%;
    right: 50%;
    height: 50px;
}


nav .link:last-of-type {
    left:0;
}

nav .link img {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: auto;
    width: calc(8px*5);
    height: calc(8px*5);
    opacity: 0.6;
    filter:invert(1);
    
}
nav .link:hover img {
    filter: drop-shadow(4px 4px 4px #555)
}

